h1 {
  color: blue;
  font-size: 20px;
}

.title {
  color: red;
  font-weight: bold;
}

button {
  background-color: black;
  color: white;
  height: 40px;
}

fieldset {
  background-color: yellow;
}
